html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

ul {
	list-style-type: none;

}

li {
	display: inline-block;
}

ul, li {
	margin: 0;
	padding: 0;
}

a, a:link, a:visited {
	text-decoration: none;
	color: #000;
	display: inline;
	cursor: pointer;
}


body {
	background: #efefef;
	font-size: 85%
}

.wrapper {
	margin: 0 auto;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-align-items: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.card1-clip {
	width: 18em;
	height: 20em;
	transition: all 0.4s ease;
	overflow: hidden;
	-webkit-clip-path: inset(36% 0 36% 0);
	position: relative;
	border-radius: 3px;
	pointer-events: none;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card2-clip {
	width: 21em;
	height: 20em;
	-webkit-clip-path: inset(65% 0 0 68%);
	transition: 0.5s;
	overflow: hidden;
	pointer-events: none;
	border-radius: 3px;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card3-clip {
	width: 21em;
	height: 20em;
	-webkit-clip-path: inset(30% 35% 30% 35%);
	transition: 0.5s;
	overflow: hidden;
	border-radius: 3px;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  pointer-events: none;
}


.card1 {
	background: #fff;
	width: 18em;
	height: 20em;
	transition: all 0.5s ease;
	box-shadow: 0 5px 15px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
	overflow: hidden;
	position: absolute;
	border-radius: 3px;
	-webkit-transform: scale(1, 0.33);
	    -ms-transform: scale(1, 0.33);
	        transform: scale(1, 0.33);
	cursor: pointer;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.separator {
  opacity: 0;
  width: 100%;
  height: 0.01em;
  background: #efefef;
  position: relative;
  transition: 0s;
  transition-delay: 0s;
  top: 3.2em;
  pointer-events: none;
}

.separator.show {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.card2 {
	width: 21em;
	height: 20em;
	background: #fff;
	transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
	overflow: hidden;
	position: absolute;
	border-radius: 3px;
	cursor: pointer;
	-webkit-transform: scale(0.32, 0.35);
	    -ms-transform: scale(0.32, 0.35);
	        transform: scale(0.32, 0.35);
	-webkit-transform-origin: bottom right;
	    -ms-transform-origin: bottom right;
	        transform-origin: bottom right;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition-delay: 0s;
}

.card3 {
	background: #fff;
	width: 21em;
	height: 20em;
	box-shadow: 0 5px 15px rgba(0,0,0,0.12), 0 4px 8px rgba(0,0,0,0.24);
	transition: 0.5s;
	overflow: hidden;
	border-radius: 3px;
	position: absolute;
	cursor: pointer;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(0.33, 0.4);
      -ms-transform: scale(0.33, 0.4);
          transform: scale(0.33, 0.4);
}


.card1.expanded, .card2.expanded, .card3.expanded {
	-webkit-transform: scale(1, 1);
	    -ms-transform: scale(1, 1);
	        transform: scale(1, 1);
}

.card2.expanded {
	transition-delay: 35ms;
}

.card1-clip.expanded, .card2-clip.expanded, .card3-clip.expanded {
	transition: all 0.5s ease;
	-webkit-clip-path: inset(0 0 0 0);
}

.card1-collapsed-content {
	top: 8.3em;
	position: relative;
	transition: all 0.5s ease;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card1-collapsed-content.slide{
  -webkit-transform: translateY(-6.5em);
      -ms-transform: translateY(-6.5em);
          transform: translateY(-6.5em)
}

.circle, .circle2, .circle3 {
	border-radius: 100%;
	width: 3.2em;
	height: 3.2em;
	background: #1976D2;
	z-index: 2;
	position: relative;
	right: -1.5em;
	pointer-events: none;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.rectangle {
  height: 0.65em;
  width: 9em;
  background: #1976D2;
  position: absolute;
  top: 18%;
  left: 6.5em;
  pointer-events: none;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.rectangle2 {
	top: auto;
	bottom: 18%;
	width: 5.5em;
}

.rectangle3, .rectangle4 {
  background: #dedede;
  left: 0.1em;
  height: 0.75em;
}

.rectangle3 {
  width: 12em;
  top: 7em;
}

.rectangle4 {
  width: 8em;
  top: 8.8em;
}


.box {
  width: 5.5em;
  height: 5.5em;
  background: #dedede;
  display: inline-block;
  margin: 0.2em;
  border-radius: 5px;
  pointer-events: none;
}

.card1-expanded-content {
	opacity: 0;
  min-width: 110%;
  z-index: 3;
  position: absolute;
  top: 23em;
  transition: opacity 0.25s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.25s ease;
  transition: transform 0.5s ease, opacity 0.25s ease, -webkit-transform 0.5s ease;
  left: 1em;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card1-expanded-content.slide {
	opacity: 1;
	transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(-15em);
      -ms-transform: translateY(-15em);
          transform: translateY(-15em);
}


.circle2 {
	right: -16.1em;
  bottom: -14em;
  transition: all 0.5s ease;
  -webkit-transform-origin: 0em -11.7em;
      -ms-transform-origin: 0em -11.7em;
          transform-origin: 0em -11.7em;
  transition-delay: 0s;
}

.circle2.slide {
	-webkit-transform: rotate(70deg);
	    -ms-transform: rotate(70deg);
	        transform: rotate(70deg);
	transition-delay: 35ms;
}


.card2-expanded-content {
	position: relative;
	transition: opacity 0.8s ease, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.8s ease;
	transition: transform 0.5s ease, opacity 0.8s ease, -webkit-transform 0.5s ease;
	top: 8em;
	left: 8em;
	opacity: 0;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card2-expanded-content.slide {
	-webkit-transform: translate(-8em, -8em);
	    -ms-transform: translate(-8em, -8em);
	        transform: translate(-8em, -8em);
	opacity: 1;
	transition: all 0.5s ease;
}


.rectangle5 {
	width: 110%;
	height: 7em;
	top: -5.2em;
}

.rectangle5, .rectangle6, .rectangle7, .rectangle8, .rectangle9 {
	background: #dedede;
	left: 0;
}

.rectangle6 {
	width: 70%;
	top: 9.5em;
	left: 2.3em;
	opacity: 0;
	transition: all 0.2s ease;
}

.rectangle7 {
	width: 45%;
	top: 11.5em;
	left: 2.3em;
	opacity: 0;
	transition: all 0.2s ease;
}

.rectangle8 {
	width: 55%;
	top: 13.5em;
	left: 2.3em;
	opacity: 0;
	transition: all 0.2s ease;
}

.fade-in {
	opacity: 1;
}

.rectangle9 {
	left: 15.7em;
  top: 18.4em;
  width: 4em;
  opacity: 1;
  transition: opacity 0.1s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.1s ease;
  transition: transform 0.5s ease, opacity 0.1s ease, -webkit-transform 0.5s ease;
  transition-delay: 0.2s;
}

.rectangle9.fadeout {
	opacity: 0;
	transition-delay: 0s;
	-webkit-transform: translateX(-2em);
	    -ms-transform: translateX(-2em);
	        transform: translateX(-2em);
}

.card2-collapsed-content {
	position: relative;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card1-wrapper, .card2-wrapper, .card3-wrapper {
	margin: 2em;
}



.circle3 {
	transition: all 0.5s ease;
	top: 7.2em;
	left: 9em;
	-webkit-transform-origin: 0em -3em;
	    -ms-transform-origin: 0em -3em;
	        transform-origin: 0em -3em;
}

.circle3.slide {
	-webkit-transform: rotate(120deg);
	    -ms-transform: rotate(120deg);
	        transform: rotate(120deg);
}

.small {
	height: 1.4em;
	width: 1.4em;
}


.small-circles {
	width: 100%;
	position: relative;
	right: 0.8em;
	transition: opacity 0.15s ease 0.25s, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.15s ease 0.25s;
	transition: transform 0.5s ease, opacity 0.15s ease 0.25s, -webkit-transform 0.5s ease;
	bottom: 0.1em;
	opacity: 1;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.small-circles .small {
	display: inline-block;
}

.small-circles.fadeout {
	opacity: 0;
	transition: opacity 0.15s ease 0s, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.15s ease 0s;
	transition: transform 0.5s ease, opacity 0.15s ease 0s, -webkit-transform 0.5s ease;
}


.rectangle10, .rectangle11 {
	top: 12.5em;
	transition: opacity 0.15s ease 0.25s, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.15s ease 0.25s;
	transition: transform 0.5s ease, opacity 0.15s ease 0.25s, -webkit-transform 0.5s ease;
	width: 4em;
	left: 8.6em;
	opacity: 1;
}


.rectangle11 {
	transition: all 0.5s ease;
	top: 2.1em;
	left: 8.5em;
}

.rectangle11.slide {
	-webkit-transform: translate(-1em, -4em);
	    -ms-transform: translate(-1em, -4em);
	        transform: translate(-1em, -4em);
}


.rectangle10.fadeout {
	-webkit-transform: translate(-3em, -1em);
	    -ms-transform: translate(-3em, -1em);
	        transform: translate(-3em, -1em);
	opacity: 0;
	transition: opacity 0.15s ease 0s, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.15s ease 0s;
	transition: transform 0.5s ease, opacity 0.15s ease 0s, -webkit-transform 0.5s ease;
}

.card3-expanded-content .small {
	margin: 1.7em;
	left: 6.3em;
	top: 7.8em;
}


.card3-expanded-content {
	position: relative;
	opacity: 0;
	transition: opacity 0.15s ease, -webkit-transform 0.5s ease;
	transition: transform 0.5s ease, opacity 0.15s ease;
	transition: transform 0.5s ease, opacity 0.15s ease, -webkit-transform 0.5s ease;
	transition-delay: 0.1s;
	will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card3-expanded-content.slide {
	position: relative;
	opacity: 1;
}

.card3-expanded-rectangles {
	width: 100%;
	height: 100%;
}

.card3-expanded-rectangles .rectangle11 {
	width: 10.5em;
	top: 7.2em;
	background: #dedede;
}

.card3-expanded-rectangles .rectangle11:nth-child(2) {
	top: 10.4em;
	width: 7em;
}

.card3-expanded-rectangles .rectangle11:nth-child(3) {
	top: 13.5em;
	width: 9em;
}

@media screen and (max-width: 22em) {
	body {
		font-size: 85%
	}	
}

@media screen and (min-width: 80em) {
	body {
		font-size: 105%
	}	
}

@media screen and (min-width: 100em) {
	body {
		font-size: 125%
	}	
}

@media screen and (min-width: 120em) {
	body {
		font-size: 155%
	}	
}

@media screen and (min-width: 140em) {
	body {
		font-size: 195%
	}	
}

@media screen and (min-width: 160em) {
	body {
		font-size: 255%
	}	
}
